# zsh config
export KEYTIMEOUT=1
export HISTSIZE=10000
export SAVEHIST=10000
export LS_COLORS='di=34:ln=35:so=32:pi=33:ex=31:bd=46;34:cd=43;34:su=41;30:sg=46;30:tw=42;30:ow=43;30'

autoload -Uz compinit
if [[ -n "$HOME"/.zcompdump(#qN.mh+24) ]]; then
  compinit
else
  compinit -C
fi

setopt append_history
setopt auto_param_keys
setopt correct
setopt hist_ignore_all_dups
setopt hist_reduce_blanks
setopt list_types
setopt share_history
setopt no_beep
setopt prompt_subst

zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}
zstyle ':completion:*' completer _complete _approximate
zstyle ':completion:*:default' menu select=1
zstyle ':completion:*:sudo:*' command-path /usr/local/sbin /usr/local/bin /usr/sbin /usr/bin /sbin /bin

# zsh hook
autoload -Uz add-zsh-hook
#add-zsh-hook preexec update_gpg_tty
add-zsh-hook precmd add_newline

# zsh plugin
source "$HOME/.config/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh"
source "$HOME/.config/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"

# fzf
_fzf_cache="${XDG_CACHE_HOME:-$HOME/.cache}/fzf/fzf.zsh"
if [[ ! -f "$_fzf_cache" ]] || [[ "$(command -v fzf)" -nt "$_fzf_cache" ]]; then
  mkdir -p "${_fzf_cache:h}"
  if ! fzf --zsh > "$_fzf_cache" 2>/dev/null; then
    rm -f "$_fzf_cache"
    if [[ -d /usr/share/doc/fzf/examples ]]; then
      cat /usr/share/doc/fzf/examples/key-bindings.zsh \
          /usr/share/doc/fzf/examples/completion.zsh > "$_fzf_cache"
    fi
  fi
fi
[[ -f "$_fzf_cache" ]] && source "$_fzf_cache"
unset _fzf_cache

# gpg-agent
unset SSH_AGENT_PID
if [[ ${gnupg_SSH_AUTH_SOCK_by:-0} -ne $$ ]]; then
  export SSH_AUTH_SOCK="$(gpgconf --list-dirs agent-ssh-socket)"
fi
export GPG_TTY="$TTY"

# starship
_starship_cache="${XDG_CACHE_HOME:-$HOME/.cache}/starship/starship.zsh"
if [[ ! -f "$_starship_cache" ]] || [[ "$(command -v starship)" -nt "$_starship_cache" ]]; then
  mkdir -p "${_starship_cache:h}" && starship init zsh > "$_starship_cache" || rm -f "$_starship_cache"
fi
[[ -f "$_starship_cache" ]] && source "$_starship_cache"
unset _starship_cache

# sudo
alias sudo='sudo '

# ls
if (( $+commands[eza] )); then
  alias eza='eza -bg -F=auto -L=2 --group-directories-first --no-quotes --time-style=long-iso'
  alias ls='eza'
  alias la='eza -a'
  alias ll='eza -l'
  alias lt='eza -T'
  alias lla='eza -al'
  alias llt='eza -lT'
  alias lta='eza -aT'
  alias llta='eza -alT'
else
{{- if eq .chezmoi.os "darwin" }}
  alias ls='ls -FG'
  alias la='ls -A'
  alias ll='ls -l'
  alias lla='ls -lA'
{{- else }}
  alias ls='ls -F --color=auto --group-directories-first --time-style="+%Y-%m-%d %H:%M"'
  alias la='ls -A'
  alias ll='ls -l'
  alias lla='ls -lA'
{{- end }}
fi

{{- if eq .chezmoi.os "linux" }}

# open
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
open() {
  local target
  if [[ $# -ne 1 ]]; then
    target=$PWD
  elif [[ ! -e "$1" ]]; then
    echo "open: $1: No such file or directory"
    return 1
  else
    target="$1"
  fi
  powershell.exe /c start "$(wslpath -w "$target")" 2>/dev/null
}
{{-   else }}
alias open='xdg-open'
{{-   end }}
{{- end }}

{{- if eq .chezmoi.os "linux" }}

# pbcopy and pbpaste
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
alias pbcopy='tee <&0 | clip.exe'
alias pbpaste="powershell.exe Get-Clipboard | sed 's/\r$//' | sed -z '$ s/\n$//'"
{{-   else }}
alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'
{{-   end }}
{{- end }}

# cdgr
alias cdgr='cd $(git rev-parse --show-toplevel)'

# path
path() {
  local env="${1:-PATH}"
  local value="${(P)env}"
  [[ -z "$value" ]] && return 0
  local -a dirs=("${(@)${(s.:.)value}:#}")
  local width=${#${#dirs[@]}}
  local i=1
  for dir in "${dirs[@]}"; do
    printf "%${width}d  %s\n" "$((i++))" "$dir"
  done
}

# ssh-tmux
alias ssh-tmux='(){ssh -t "$1" tmux new-session -A -s main}'

# vi
alias vi='nvim'

{{- if eq .chezmoi.os "darwin" }}

# tailscale
alias tailscale='/Applications/Tailscale.app/Contents/MacOS/Tailscale'
{{- end }}
