#!/bin/bash
{{ if eq .chezmoi.os "linux" -}}
sudo apt update
sudo apt install fzf gnupg openssh-server tmux vim-gui-common xclip zsh
curl -sS https://starship.rs/install.sh | sh
chsh -s /bin/zsh
{{ else if eq .chezmoi.os "darwin" -}}
brew update
brew install alacritty font-hackgen font-hackgen-nerd fzf gnupg starship tmux
$(brew --prefix)/opt/fzf/install
{{ end -}}
