#!/bin/bash
{{- if eq .chezmoi.os "linux" }}
{{-   if or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.idLike "debian") }}
sudo apt update
sudo apt install fzf gnupg openssh-server tmux vim-gui-common xclip zsh
curl -sS https://starship.rs/install.sh | sh
{{-   end }}
chsh -s $(which zsh)
{{- else if eq .chezmoi.os "darwin" }}
brew update
brew install alacritty font-hackgen font-hackgen-nerd fzf gnupg pinentry-mac starship tmux
$(brew --prefix)/opt/fzf/install
{{- end }}
