format = '''
$username$hostname$directory$git_status$git_branch[](_git_bg)
$character
'''

add_newline = false

scan_timeout = 50
command_timeout = 2000

{{- if eq .chezmoi.os "linux" }}
palette = 'linux'
{{- else }}
palette = 'macos'
{{- end }}

[palettes.linux]
_name_fg = '236'
_name_bg = '148'
_dir_fg = '252'
_dir_bg = '237'
_git_fg = '75'
_git_bg = '237'

[palettes.macos]
_name_fg = '236'
_name_bg = '38'
_dir_fg = '252'
_dir_bg = '237'
_git_fg = '220'
_git_bg = '237'

[username]
format = '[](_name_bg)[$user﹫]($style)'
style_user = 'fg:_name_fg bg:_name_bg'
show_always = true

[hostname]
format = '[$hostname]($style)[ ](fg:_name_bg bg:_dir_bg)'
style = 'fg:_name_fg bg:_name_bg'
ssh_only = false

[directory]
format = '[$path]($style)'
style = 'fg:_dir_fg bg:_dir_bg'
read_only = ''
read_only_style = 'fg:bold red bg:white'
truncate_to_repo = true
truncation_length = 8
truncation_symbol = '…/'

[git_status]
format = '[ ]($style)([$all_status$ahead_behind]($style))'
style = 'fg:_git_fg bg:_git_bg'
deleted = ''

[git_branch]
format = '[ $branch(:$remote_branch)]($style)'
style = 'fg:_git_fg bg:_git_bg'

[character]
success_symbol = '[](white)'
error_symbol = '[](red)'
